<body class="home">
  <header class="animate__animated animate__fadeInDown">
    <h1>DAN WILLIAMS</h1>
  </header>
  <nav role="navigation" class="navigation-menu">
    <div id="menuToggle">
      <input type="checkbox" />
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
        <a routerLink="home" routerLinkActive="active">
          <li>HOME</li>
        </a>
        <a routerLink="biography" routerLinkActive="active">
          <li>BIO</li>
        </a>
        <a routerLink="media" routerLinkActive="active">
          <li>MEDIA</li>
        </a>
        <a routerLink="testimonials-mobile" routerLinkActive="active">
          <li>TESTIMONIALS</li>
        </a>
        <a routerLink="contact" routerLinkActive="active">
          <li>CONTACT</li>
        </a>
      </ul>
    </div>
  </nav>
  <header class="desktop">
    <nav class="Nav2 animate__animated animate__slideInLeft">
      <ul class="Nav2__list">
        <li class="Nav2__item"><a class="Nav2__link" routerLink="home" routerLinkActive="active">HOME</a></li>
        <li class="Nav2__item"><a class="Nav2__link" routerLink="biography" routerLinkActive="active">BIO</a>
        </li>
        <!-- <li class="Nav2__item"><a class="Nav2__link" routerLink="lessons" routerLinkActive="active">LESSONS</a></li> -->
        <li class="Nav2__item"><a class="Nav2__link" routerLink="media" routerLinkActive="active">MEDIA</a></li>
        <li class="Nav2__item"><a class="Nav2__link" routerLink="testimonials"
            routerLinkActive="active">TESTIMONIALS</a></li>
        <li class="Nav2__item"><a class="Nav2__link" routerLink="contact" routerLinkActive="active">CONTACT</a></li>
      </ul>
    </nav>
  </header>
</body>
<main [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
  <router-outlet #o="outlet"></router-outlet>
</main>
