
body {
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    // background: url('../assets/images/home-bg.jpg') no-repeat;
}

header {
  z-index: 1000;
}

ul{
    list-style:none;
}
h1 {
    text-align: center;
    font-size: 4rem;
    margin: 0;
    padding: 5vh 0 0;
    // font-family: 'Hind Madurai','Helvetica Neue',Helvetica,sans-serif;
    // font-family: 'Didact Gothic', sans-serif;
    font-family: 'Gothic A1', sans-serif;
}
.Nav2 {
  margin: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}
.Nav2__list {
  display: -webkit-box;
  display: flex;
  overflow: hidden;
}
.Nav2__item {
  margin: 0 20px;
}
.Nav2__link {
  display: block;
  position: relative;
  padding: 10px 20px;
  font-family: 'Comfortaa', cursive;
  font-size: 24px;
  color: black;
  text-decoration: none;
}
.Nav2__link:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: orange;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: .3s;
  transition: .3s;
}
.Nav2__link:hover {
    color: whitesmoke
}
.Nav2__link:hover:after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.active {
  color: whitesmoke;
}

//Background Classes

.home {
    background: url('../assets/images/home-bg.jpg') no-repeat;
    background-size: cover;
}

:host ::ng-deep .mat-tab-group .mat-tab-header {
  border-bottom: 0px solid rgba(0,0,0,.12) !important;
}

// Hambuger Menu
#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

// Media Queries
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2){
.home {
  background-size: contain;
}
h1 {
  font-size: 1.75rem;
}
.desktop {
  display:none;
}
#menuToggle {
  position: fixed;
  top: 1rem;
  left: 1rem;
}
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */
// @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {

// }

/* ----------- iPhone X ----------- */
// @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
// }

/* ----------- Galaxy S6 ----------- */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 4) {
  .home {
    background-size: contain;
  }
  h1 {
    font-size: 2rem;
  }
  .desktop {
    display:none;
  }
  #menuToggle {
    position: fixed;
    top: 1rem;
    left: 1rem;
  }
}

/* ----------- Google Pixel ----------- */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
  .home {
    background-size: contain;
  }
  h1 {
    font-size: 2rem;
  }
  .desktop {
    display:none;
  }
  #menuToggle {
    position: fixed;
    top: 1rem;
    left: 1rem;
  }
}

/* ----------- Google Pixel XL ----------- */
// @media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 4) {
// }

/* ----------- Windows Phone ----------- */
@media screen and (device-width: 480px) and (device-height: 800px) {
  .home {
    background-size: contain;
  }
  h1 {
    font-size: 2rem;
  }
  .desktop {
    display:none;
  }
  #menuToggle {
    position: fixed;
    top: 1rem;
    left: 1rem;
  }
}
/* ----------- TABLETS ----------- */
/* ----------- iPad 1, 2, Mini and Air ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
.home {
  background-size: contain;
}
h1 {
  font-size: 2rem;
}
.desktop {
  display:none;
}
#menuToggle {
  position: fixed;
  top: 1rem;
  left: 1rem;
}
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */
// @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
// }

/* ----------- iPad Pro 10.5" ----------- */
// @media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
// }

/* ----------- iPad Pro 12.9" ----------- */
// @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px)and (-webkit-min-device-pixel-ratio: 2) {
// }

/* ----------- Galaxy Tab 2 ----------- */
// @media (min-device-width: 800px) and (max-device-width: 1280px) {
// }

/* ----------- Galaxy Tab S ----------- */
// @media
//   (min-device-width: 800px) and (max-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 2) {
// }
/* ----------- LAPTOPS ----------- */
/* ----------- Non-Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
}
/* ----------- Retina Screens ----------- */
@media screen
  and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
}

/* ---------- Destkop ---------- */
@media only screen and (min-width: 1201px) {
  .navigation-menu {
    display: none;
  }
}


