<div fxLayout="column" fxLayoutAlign="start center" class="div-section">
  <section>
    <h1>
      BIOGRAPHY
    </h1>
    <div class="container animate__animated animate__backInDown">
      <div class="chevron"></div>
      <div class="chevron"></div>
      <div class="chevron"></div>
      <span class="text">Scroll down</span>
    </div>
  </section>
  <section class="bio-container">
    <p>
      <img class="bio-img-1 alignright" src="../../assets/images/bio-1.jpg">
      Lorem ipsum dolor sit amet, sit discere liberavisse ne. Per an quis scripserit temporibus. Per postulant salutatus
      in. Cu ius regione alterum. Suavitate rationibus vituperata ad has, eam habeo mollis ut.

    </p>
    <p>
      Ad dolore animal vel, dicat persecuti dissentiet ei nec, habemus epicuri mel an. Ne mei falli scaevola, ignota
      admodum has no. Enim consul maluisset in vix, mea laudem euismod at. Semper pericula no pri. Ex soluta docendi
      eos, ius nibh prompta complectitur in.

    </p>
    <p>
      Lorem ipsum dolor sit amet, sit discere liberavisse ne. Per an quis scripserit temporibus. Per postulant salutatus
      in. Cu ius regione alterum. Suavitate rationibus vituperata ad has, eam habeo mollis ut.

    </p>
    <p>
      <img class="bio-img-1 alignright" src="../../assets/images/bio-2.jpg">
      Ad dolore animal vel, dicat persecuti dissentiet ei nec, habemus epicuri mel an. Ne mei falli scaevola, ignota
      admodum has no. Enim consul maluisset in vix, mea laudem euismod at. Semper pericula no pri. Ex soluta docendi
      eos, ius nibh prompta complectitur in.

    </p>
    <p>
      Lorem ipsum dolor sit amet, sit discere liberavisse ne. Per an quis scripserit temporibus. Per postulant salutatus
      in. Cu ius regione alterum. Suavitate rationibus vituperata ad has, eam habeo mollis ut.
    </p>
  </section>
</div>
