<div fxLayout="column" fxLayoutAlign="start center">
  <section>
    <h1>
      BIOGRAPHY
    </h1>
    <div class="container animate__animated animate__backInDown">
      <div class="chevron"></div>
      <div class="chevron"></div>
      <div class="chevron"></div>
      <span class="text">Scroll down</span>
    </div>
  </section>
  <section class="bio-container">
    <p>
      <img class="bio-img-1 alignright" src="../../assets/images/bio-1.jpg">
      Clarinetist Dan Williams has been praised for his nuanced and genuine performances balance artistic originality
      with elegant interpretations that engage both audiences and critics alike. He regularly performs as a concerto
      soloist, recitalist and chamber musician, collaborating with an eminent array of renowned conductors and
      colleagues.
    </p>
    <p>
      Boutris’ current and recent season highlights include a featured recital on the award-winning Crypt Sessions
      series in New York City, a live broadcast solo recital on WQXR’s Midday Master Series at the Greene Space; solo
      recitals at Dame Myra Hess (Chicago) Lincoln Centers’ Paul Hall and Wilson Theater, the Harvard Club of New York,
      La Maison Française at New York University, and a featured recital of the Mozart and Brahms Clarinet Quintets with
      the Attacca Quartet on the Rockerfeller Noon Series.
    </p>
    <p>
      Boutris was the recipient of the ‘Musica Solis’ grand prize at the 2019 Chamber Music Northwest International
      Clarinet Competition and subsequently performed the Mozart Clarinet Concerto with the festival orchestra on two
      programs. Other recent concerto engagements include performances with the Vermont Mozart Festival Orchestra and
      the Yale Undergraduate Chamber Orchestra
    </p>
    <p>
      As an orchestral musician Boutris has performed as guest principal clarinet with the Louisville Symphony
      Orchestra, and ‘Symphony in C.’ He has also appeared as guest clarinet with the New Haven and Princeton
      symphonies.
    </p>
    <p>
      Mr. Boutris habitually contrasts the standard clarinet literature with his own adaptations of violin, piano, and
      vocal repertoire, which he incorporates generously into his programs.
    </p>
    <p>
      <img class="bio-img-1 alignright" src="../../assets/images/bio-2.jpg">
      A native of Fort Worth, Texas, Boutris began his orchestral studies as a member of the Fort Worth Youth Symphony.
      Since then, Boutris has been a member of the Curtis Symphony and Yale Philharmonia and has performed many concerts
      in collaboration with musicians from America’s top orchestras, allowing him to engage with orchestral musicianship
      of the highest level. He has rehearsed and performed under the baton of many renowned conductors including Charles
      Dutoit, Yannick Nezet-Seguin, and Giancarlo Guerrero, among others. Boutris has made appearances as soloist with
      orchestras across the nation, and has also participated in a number of music festivals across the globe spanning
      from Dresden’s annual music festival to Carnegie Hall’s famed New York String Orchestra Seminar. Boutris has been
      a member of the Lake George Music Festival Symphony Orchestra since 2015. These collaborations and others have
      lent Boutris the opportunity to perform in close quarters with world-class artists including Joseph Silverstein,
      Roberto Diaz, and Noah Bendix-Balgley.
    </p>
    <p>
      Starting in the fall of 2017, Boutris took a position in the prestigious Artist Diploma program at the Juilliard
      School in New York. He also holds degrees from Yale University and the Curtis Institute of Music.
    </p>
  </section>
</div>
