<div class="card-box">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Elizandro Garcia-Montoya</mat-card-title>
      <mat-card-subtitle>Professional Clarinetist</mat-card-subtitle>
    </mat-card-header>
    <img src="../../assets/images/testimonial-main-1.jpg">
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet, iudico commune pri at, vel ei case phaedrum voluptatum. Est nostro oblique epicurei
        et. Vis quas posse et, in sea causae mollis. Soluta facilis phaedrum te sit, et errem quaestio est, doctus
        voluptatibus no ius. Ea his placerat deserunt salutatus.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Ramon Wodkowski</mat-card-title>
      <mat-card-subtitle>Professional Mouthpiece Crafstman</mat-card-subtitle>
    </mat-card-header>
    <img src="../../assets/images/testimonial-main-2.jpg">
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet, iudico commune pri at, vel ei case phaedrum voluptatum. Est nostro oblique epicurei
        et. Vis quas posse et, in sea causae mollis. Soluta facilis phaedrum te sit, et errem quaestio est, doctus
        voluptatibus no ius. Ea his placerat deserunt salutatus.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Sotos G. Djiovanis</mat-card-title>
      <mat-card-subtitle>Professional Oboist</mat-card-subtitle>
    </mat-card-header>
    <img src="../../assets/images/testimonial-main-3.jpg">
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet, iudico commune pri at, vel ei case phaedrum voluptatum. Est nostro oblique epicurei
        et. Vis quas posse et, in sea causae mollis. Soluta facilis phaedrum te sit, et errem quaestio est, doctus
        voluptatibus no ius. Ea his placerat deserunt salutatus.
      </p>
    </mat-card-content>
  </mat-card>

</div>
